doctype=html
html
    head
        title SQL Injection Demo
    body
        h1 Student database
        if username
            h1 Welcome Back! #{username}

        form(action="/dashboard" method="POST")
            label(for="name") name:
                input(type="text" id="name" name="name")
            input(type="submit" value="Submit")

        table(style='width:100%', border='1')
            tr
                th studentID
                th FirstName
                th LastName
                th University
            each student in students
                tr
                    td= student.studentID
                    td= student.FirstName
                    td= student.LastName
                    td= student.UniversityName
